python-dotenv
pandas
numpy
pymongo
pymongo[srv]
certifi
scikit-learn
dill
pyaml
mlflow
dagshub
python-multipart
fastapi
uvicorn

##-e .
##this refers to the setup.py and help to build the project setup and info
##we can run this at the end of out project